<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YLJ_UICollectionViewDeom.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>607F0F4F1D3735EE008038B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>607F0F681D3735EE008038B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>607F0F731D3735EE008038B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
